extends layout

block append content


	section#service.main-section.scrollspy
		.container
			each service in services.sort('title')
				h2= service.title
				h6= service.shortdesc

				.row
					.col-lg-4.col-sm-6.wow.fadeInLeft.delay-05s
						//- .service-list
						//- 	.service-list-col1
						//- 		i(class= entry.icon)
						//- 	.service-list-col2
						//- 		h5= entry.subtitle
						//- 		p= entry.tagline
						.service-list
							.service-list-col1
								i.fa-paw
							.service-list-col2
								h5 branding & Identity
								p Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .
						.service-list
							.service-list-col1
								i.fa-gear
							.service-list-col2
								h5 web development
								p Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .
						.service-list
							.service-list-col1
								i.fa-apple
							.service-list-col2
								h5 mobile design
								p
									| Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora
									| entum.
						.service-list
							.service-list-col1
								i.fa-medkit
							.service-list-col2
								h5 24/7 Support
								p Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.

						.clear
						p.text-right
							a(href=service.permalink, class="waves-effect waves-light grey darken-4 btn-large") Read More

					figure.col-lg-8.col-sm-6.text-right.wow.fadeInUp.delay-02s
						img(src= service.banner, alt='')

	section.main-section.alabaster.scrollspy
		.container
			each work in featuredwork.sort('title')
				.row
					figure.col-lg-5.col-sm-4.wow.fadeInLeft
						img(src= work.banner, alt='')
					.col-lg-7.col-sm-8.featured-work
						h2= work.title
						p(class="padding-b")= work.shortdesc

						.service-list
							.service-list-col1
								i.fa-magic
							.service-list-col2
								h5 magic of theme development
								p Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.
						.service-list
							.service-list-col1
								i.fa-gift
							.service-list-col2
								h5 neatly packaged
								p Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .
						.service-list
							.service-list-col1
								i.fa-dashboard
							.service-list-col2
								h5 SEO optimized
								p
									| Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.
						.clear
						p.text-right.wow.fadeInRight.delay-07s
							a(href= work.permalink, class="waves-effect waves-light grey darken-4 btn-large") Read More

	section#client_outer.main-section.scrollspy
			h2 Happy Clients
			.client_area
				.client_section.animated.fadeInUp.wow
					.client_profile
						.client_profile_pic
							img(src= records.client.testi[0].image, alt='')
						h3= records.client.testi[0].name
						span= records.client.testi[0].work

					.quote_section
						.quote_arrow
						p
							b
								img(src='../img/quote_sign_left.png', alt='')
							p= records.client.testi[0].comment
							small
								img(src='../img/quote_sign_right.png', alt='')
					.clear
				.client_section.animated.fadeInDown.wow
					.client_profile.flt
						.client_profile_pic
							img(src= records.client.testi[1].image, alt='')
						h3= records.client.testi[1].name
						span= records.client.testi[1].work
					.quote_section.flt
						.quote_arrow2
						p
							b
								img(src='../img/quote_sign_left.png', alt='')
							p= records.client.testi[1].comment
							small
								img(src='../img/quote_sign_right.png', alt='')
					.clear
	section#news.scrollspy
		.container
			h2.wow.fadeInUp.delay-0s Latest News
			h6 Proin iaculis purus consequat sem cure digni ssim.
			.row
				div.lazy-wrapper.wow.fadeInUp.delay-0s
					each newss in news.orderBy('date', 'asc').slice(0, 4)
						.col-sm-4.lazyItem
							.card
								.card-image.waves-effect.waves-block.waves-light
									img.activator(src= newss.banner)
								.card-content
									i.material-icons.right.activator more_vert
									span.card-title.activator.grey-text.text-darken-4= newss.title
									time(date= newss.date)= newss.date
								.card-reveal
									span.card-title.grey-text.text-darken-4= newss.title
										i.material-icons.right close
									time(date= newss.date)= newss.date
									p= newss.shortdesc
									p.read-more
										a.btn.waves-effect.waves-light(href= newss.permalink) READ MORE
				p.read-more.center
					a.btn.waves-effect.waves-light.btn-large(href="/news-list.html") VIEW ALL NEWS
				.clear
	section#partners.scrollspy
		.container.wow.fadeIn.delay-0s
			h2  Our Partners
			h6  We're distributing millions of dollars every week to campaigners around the world.<br> Whether you're raising 500 dollars or 5 million euros.
			.row
				.col-lg-12
					ul#partner-list
						- each partner in records.partners.data
								li.wow.zoomIn
									figure
										a(href= partner.website)
											img(alt='', src= partner.logo)


	//- .row
	//-   .12u
	//-     section
	//-       header.major
	//-         h2 Recent Episodes
	//-       div.row
	//-         each post in posts.sort('date', 'asc')
	//-           .6u
	//-             section.box
	//-               a.image.featured(href=post.permalink)
	//-                 img(src= post.banner)
	//-               header
	//-                 h3= post.title
	//-                 p= "Posted " + dateFormat(post.date, 'LL')
	//-                 != postExcerpt(post.body, 250)
	//-               footer
	//-                 ul.actions
	//-                   li
	//-                     a.button.icon.fa-file-text(href= post.permalink) Continue Reading


	//- .row
	//-   .12u
	//-     section
	//-       header.major
	//-         h2 Characters

	//-       .row
	//-         - each character in records.characters.data
	//-           .4u
	//-             .box
	//-               span.image.featured
	//-                 img(src=character.image)
	//-               header
	//-                 h3= character.name
	//-                 p= character.description


