doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Content Manager

    link(rel="icon", href= records.site.sitedata[0].icon, type="image/png")
    link(rel="shortcut icon", href= records.site.sitedata[0].icon, type="img/x-icon")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="//cms.netlify.com/assets/cms.css")
    link(rel="stylesheet", href="/css/skel.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/style-desktop.css")
    link(rel="stylesheet", href="/css/webriq-template.css")


    style.
      .container {
        width: auto;
        max-width: 1200px;
      }
      body.ember-application .cms-list-entry,
      body.ember-application .cms-preview-pane {
        background: #fff;
      }
    script!= "CMS_ENV = \"" + (process.env.CMS_ENV || "development") + "\";"

    base(href="/admin/")
  body

    script(type="text/x-handlebars" data-template-name='cms/preview/sitedata').
      <div id="main-wrapper">
        <div class="container">
          {{#cms-preview field="sitedata" as |sitedatas| }}
            <section class="box">
              <h5>Site Logo:</h5>
              <p>{{cms-preview field="logo" from=sitedatas}}</p>
              <h5>Favicon icon:</h5>
              <p>{{cms-preview field="icon" from=sitedatas}}</p>
              <h5>Website Description:</h5>
              <p>{{sitedatas.metadesc}}</p>
              <h5>Website Author:</h5>
              <p>{{sitedatas.metauthor}}</p>
              <h5>Website Keywords:</h5>
              <p>{{sitedatas.metauthor}}</p>
              <h5>Slider Logo:</h5>
              <p style="background-color:#f8f8f8;">{{cms-preview field="sliderlogo" from=sitedatas}}</p>
              <h5>Slider Text:</h5>
              <p>{{cms-preview field="slidertxt" from=sitedatas}}</p>
              <h5>Slider Description:</h5>
              <p>{{cms-preview field="sliderdesc" from=sitedatas}}</p>
              <h5>Footer:</h5>
              <p>{{cms-preview field="footer" from=sitedatas}}</p>
            </section>
          {{/cms-preview}}
        </div>
      </div>


    script(src="//cms.netlify.com/assets/vendor.js")
    script(src="//cms.netlify.com/assets/cms.js")
    script(src="/js/custom-admin.js")
